@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.main {
  animation: intro 1s ease 1s forwards;
}
@keyframes intro {
  from {
    width: 470px;
  }
  to {
    width: 800px;
  }
}
.kalo {
  animation: evnt 1s ease 1s forwards;
  opacity: 0;
}
@keyframes evnt {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.alert {
  opacity: 0;
  bottom: 0;
  animation: altIntro 1s ease forwards;
}
@keyframes altIntro {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .boh {
    flex-direction: row;
    left: 50%;
    translate: -50%;
    width: 305px;
    top: 90%;
  }
}
@media screen and (max-width: 800px) {
  .main {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media screen and (max-width: 641px) {
  .main {
    transform: translate(-50%, -50%) scale(0.6);
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 30px;
  }
  .main {
    flex-direction: column;
    animation: none;
    min-width: 200px;
    max-width: 470px;
    transform: translate(-50%, -50%) scale(0.6);
  }
  .calo {
    width: 100%;
  }
  .ent {
    padding: 0px 10px 20px 10px;
  }
  .boh {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 340px) {
  .logo {
    transform: scale(0.9);
    left: 20px;
  }
}
